# Archivos de ayuda
HELP.md

# Carpetas de compilación y dependencias
/target/
/build/
/.mvn/
/.gradle/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Configuraciones sensibles
application.properties
application.yml
application-*.properties
.env
secrets.json

# Archivos generados por STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Archivos generados por IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Archivos generados por NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos generados por VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db